
name: Maven Package

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Mona the Octocat'
      home:
        description: 'location'
        required: false
        default: 'The Octoverse'    

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
        
    - name: Build with Maven
      run: mvn clean package -Dmaven.test.skip=true 
      
    - name: Upload artifact to staging
      run: mkdir staging && cp target/*.jar staging
      
    - name: Publish package
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: staging
        
    - name: Publish to GitHub Packages
      run: mvn -B -Dmaven.test.skip=true deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

