
name: Build app

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Submitter'
        required: true
        default: 'Sola' 
      iqstage:
        description: 'Nexus IQ stage'
        required: true
        default: 'build' 

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
        
    - name: Build with Maven
      run: mvn --batch-mode clean package -Dmaven.test.skip=true 
      
    - name: Upload artifact to staging
      run: mkdir staging && cp target/*.jar staging

    - name: What have we got? 
      run: ls -l target/

    - name: Nexus IQ evaluation
      uses: docker://sonatype/nexus-iq-cli
      with:
        args: -s http://localhost:8070 -a admin:admin123 -i ghaction -t build target/
